:root{
    --primary: #131921;
    --secondary: #232f3e;
    --tertiary: #37475A;
  }
  
  .links-unstyled a, .links-unstyled a:link, .links-unstyled a:hover {
    color: inherit !important;
    text-decoration: inherit !important;
  }
  
  header{
    background-color: var(--primary) !important;
    height: 60px;
  }

  header a:hover{
    outline: 1px solid white;
  }
  
  .logo{
    height: 30px;
  }
  
  .card {
    text-align: center;  
  }
  
  p.nome{
    text-align: left;
  }
  
  p.preco {  
    font-size: 22px;
  }
  
  p.restaurante{
    text-align: center;
  }
  
  .card button {
    border: none;  
  }
  
  .card img {
    max-width: 30%;
  }
  
  .card button:hover {
    opacity: 0.7;
  }